<br /><br />
<div class="container">
  <div *ngIf="successalert" class="alert alert-success">
    <strong>Success!</strong> {{successalerttext}}
  </div>
  <div *ngIf="dangeralert" class="alert alert-danger">
    <strong>Danger!</strong> {{dangeralerttext}}
  </div>
</div>


<div class="container" *ngIf="Forms">
  <div class="row col-10" style="">
    <h3 style="text-align:center;color:cadetblue;font-family:Tahoma" class="text-center">{{registerText}}</h3>
  </div>
  <br />
  <form class="example-container" [formGroup]="Forms">
    <div class="col-10" style="">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs " #matgroup>
        <mat-tab>
          <ng-template mat-tab-label>
            ProducT Detail
          </ng-template>
          <mat-form-field floatLabel="options.value.floatLabel">
            <mat-label>Enter A Product</mat-label>
            <input matInput placeholder="Simple placeholder" type="Text" formControlName="productName" required>
          </mat-form-field>
          <mat-form-field floatLabel="options.value.floatLabel">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" type="Text" formControlName="productTitle" required>
          </mat-form-field>
          <mat-form-field floatLabel="options.value.floatLabel">
            <mat-label>Group</mat-label>
            <input matInput placeholder="Group" type="Text" formControlName="productGroup" required>
          </mat-form-field>
          <mat-form-field floatLabel="options.value.floatLabel">
            <mat-label>Price</mat-label>
            <input matInput placeholder="price" type="number" formControlName="price">
          </mat-form-field>
          <button mat-raised-button style="width:100%" color="warn" (click)='matgroup.selectedIndex = 2'>Go Next</button>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>thumb_down</mat-icon> Upload
          </ng-template>
          <app-file-upload [filenameinput] ="filenameinput3" [preVal]="_file3id" (picidVal)="file3id($event)"></app-file-upload>
          <br />
          <app-file-upload [filenameinput]="filenameinput2" [preVal]="_file2id" (picidVal)="file2id($event)"></app-file-upload>
          <br/>
          <app-file-upload [filenameinput]="filenameinput1" [preVal]="_file1id" (picidVal)="file1id($event)"></app-file-upload>
          <br/>
          <mat-form-field floatLabel="options.value.floatLabel">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" type="Text" formControlName="description">
          </mat-form-field>
          <br />
          <div class="input-group btn-group">
            <button type="submit" (click)="FormSubmit()" class="form-control btn" style="height:40px;width:425px;background-color:black;color:whitesmoke" [disabled]="!Forms.valid">Submit</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </form>

</div>
<br /><br />
