<br />
<div class="container">
  <div class="row">
    <div class="col-4">
      <mat-grid-list cols="3" rowHeight="45px">
        <mat-grid-tile [colspan]=1 [rowspan]=3>
          <button mat-fab style="width:70px;height:70px;background-color:Highlight"><mat-icon color="black">http</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large;color:Highlight">
          WEB DESIGN
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color:whitesmoke;text-align:justify">
          We design web application with most modern tool like Angular and nodejs 
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-4">
      <mat-grid-list cols="3" rowHeight="45px">
        <mat-grid-tile [colspan]=1 [rowspan]=3>
          <button mat-fab color="warn" style="width:70px;height:70px;background-color:Highlight"><mat-icon color="black">android</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large;color:yellowgreen">
          Mobile App Design
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color:whitesmoke;text-align:justify">
          We design Mobile application with flutter and durt for cross platform application
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-4">
      <mat-grid-list cols="3" rowHeight="45px">
        <mat-grid-tile [colspan]=1 [rowspan]=3>
          <button mat-fab color="warn" style="width:70px;height:70px;background-color:Highlight"><mat-icon color="black">airplay</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large;color:orangered">
          Desktop App Design
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color:whitesmoke;text-align:justify">
          We design desktop application with .net framework and wps
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="col-4">
      <mat-grid-list cols="3" rowHeight="45px">
        <mat-grid-tile [colspan]=1 [rowspan]=3>
          <button mat-fab color="warn" style="width:70px;height:70px;background-color:Highlight"><mat-icon color="black">favorite</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large">
          Electronics Design
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color:whitesmoke;text-align:justify">
          We design and make PCB of multiple layer in local and chiness market and we also develop high power application
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-4">
      <mat-grid-list cols="3" rowHeight="45px">
        <mat-grid-tile [colspan]=1 [rowspan]=3>
          <button mat-fab color="warn" style="width:70px;height:70px;background-color:Highlight"><mat-icon color="black">sd-storage</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large;color:orangered">
          Biometric Security
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color:whitesmoke;text-align:justify">
          We provide fingerprint reader with customized software and geade-1 CCTV Camera for offive Application.
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-4">
      <mat-grid-list cols="3" rowHeight="45px">
        <mat-grid-tile [colspan]=1 [rowspan]=3>
          <button mat-fab color="warn" style="width:70px;height:70px;background-color:Highlight;font-size:xx-large"><mat-icon color="black">waves</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1 style="font-family:Roboto, sans-serif;font-weight:normal;font-size:x-large;color:Highlight">
          Embedded System
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=2 style="background-color:whitesmoke;text-align:justify">
          We develop microcontroller based system. Our expertise is in PIC,AVR,ARM,ARDUINO
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

</div>
<br />
